<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <!--<rewrite>
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
          </rule>
        </rules>
      </rewrite>-->
      <httpProtocol>
          <customHeaders>
              <!--<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />-->
          </customHeaders>
      </httpProtocol>
  </system.webServer>
</configuration>
